# Variables de entorno — agregar al .env.local en producción
BLOG_DB_HOST=mysql.us.stackcp.com
BLOG_DB_PORT=45486
BLOG_DB_USER=blogagendaturistica-3139314513
BLOG_DB_PASS=EnmjwYbg6&&-
BLOG_DB_NAME=blogagendaturistica-3139314513
ADMIN_PASSWORD_HASH=Contraseña123.
